@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #213E42;
  --color-secondary: #C9A78B;
  --color-tertiary: #F3DDC8;
  --color-quaternary: #91A1A1;
  --color-light: #FEEAD2;
}

body {
  background-color: #FEEAD2;
  color: #213E42;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
